@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('fonts/Poppins-ExtraBoldItalic.eot');
    src: url('fonts/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.eot');
    src: url('fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Medium.woff2') format('woff2'),
        url('fonts/Poppins-Medium.woff') format('woff'),
        url('fonts/Poppins-Medium.ttf') format('truetype'),
        url('fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('fonts/Poppins-Italic.eot');
    src: url('fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Italic.woff2') format('woff2'),
        url('fonts/Poppins-Italic.woff') format('woff'),
        url('fonts/Poppins-Italic.ttf') format('truetype'),
        url('fonts/Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.eot');
    src: url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('fonts/Poppins-SemiBold.woff') format('woff'),
        url('fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('fonts/Poppins-BlackItalic.eot');
    src: url('fonts/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BlackItalic.woff2') format('woff2'),
        url('fonts/Poppins-BlackItalic.woff') format('woff'),
        url('fonts/Poppins-BlackItalic.ttf') format('truetype'),
        url('fonts/Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('fonts/Poppins-ExtraLight.eot');
    src: url('fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLight.woff') format('woff'),
        url('fonts/Poppins-ExtraLight.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('fonts/Poppins-ExtraLightItalic.eot');
    src: url('fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLightItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('fonts/Poppins-SemiBoldItalic.eot');
    src: url('fonts/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-SemiBoldItalic.woff') format('woff'),
        url('fonts/Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('fonts/Poppins-BoldItalic.eot');
    src: url('fonts/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-BoldItalic.woff') format('woff'),
        url('fonts/Poppins-BoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.eot');
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff'),
        url('fonts/Poppins-Regular.ttf') format('truetype'),
        url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('fonts/Poppins-LightItalic.eot');
    src: url('fonts/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('fonts/Poppins-LightItalic.woff') format('woff'),
        url('fonts/Poppins-LightItalic.ttf') format('truetype'),
        url('fonts/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.eot');
    src: url('fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff'),
        url('fonts/Poppins-Bold.ttf') format('truetype'),
        url('fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('fonts/Poppins-ThinItalic.eot');
    src: url('fonts/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ThinItalic.woff2') format('woff2'),
        url('fonts/Poppins-ThinItalic.woff') format('woff'),
        url('fonts/Poppins-ThinItalic.ttf') format('truetype'),
        url('fonts/Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('fonts/Poppins-Black.eot');
    src: url('fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Black.woff2') format('woff2'),
        url('fonts/Poppins-Black.woff') format('woff'),
        url('fonts/Poppins-Black.ttf') format('truetype'),
        url('fonts/Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.eot');
    src: url('fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Light.woff2') format('woff2'),
        url('fonts/Poppins-Light.woff') format('woff'),
        url('fonts/Poppins-Light.ttf') format('truetype'),
        url('fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('fonts/Poppins-ExtraBold.eot');
    src: url('fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBold.woff') format('woff'),
        url('fonts/Poppins-ExtraBold.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('fonts/Poppins-Thin.eot');
    src: url('fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Thin.woff2') format('woff2'),
        url('fonts/Poppins-Thin.woff') format('woff'),
        url('fonts/Poppins-Thin.ttf') format('truetype'),
        url('fonts/Poppins-Thin.svg#Poppins-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Custome Fonts */

/* Turbo-Regular */
@font-face {
    font-family: 'BatonTurbo-Regular';
    src: url(../css/fonts/Baton-Turbo/Baton-Turbo-Regular.otf);
}

@font-face {
    font-family: 'BatonTurbo-Book';
    src: url(../css/fonts/Baton-Turbo/Baton-Turbo-Book.otf);
}

@font-face {
    font-family: 'BatonTurbo-Medium';
    src: url(../css/fonts/Baton-Turbo/Baton-Turbo-Medium.otf);
}

@font-face {
    font-family: 'BatonTurbo-Bold';
    src: url(../css/fonts/Baton-Turbo/Baton-Turbo-Bold.otf);
}

@font-face {
    font-family: 'BatonTurbo-Heavy';
    src: url(../css/fonts/Baton-Turbo/Baton-Turbo-Heavy.otf);
}

/* Greycliff-CF */
@font-face {
    font-family: 'Grey-Bold';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Bold.ttf);
}

@font-face {
    font-family: 'Grey-ExtraBold';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Extrabold.ttf);
}

@font-face {
    font-family: 'Grey-ExtraLight';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Extralight.ttf);
}

@font-face {
    font-family: 'Grey-Heavy';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Heavy.ttf);
}

@font-face {
    font-family: 'Grey-Light';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Light.ttf);
}

@font-face {
    font-family: 'Grey-Medium';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Medium.ttf);
}

@font-face {
    font-family: 'Grey-Regular';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Regular.ttf);
}

@font-face {
    font-family: 'Grey-SemiBold';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Semibold.ttf);
}

@font-face {
    font-family: 'Grey-Thin';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Thin.ttf);
}

/* ******************* */

img {
    max-width: 100%;
}

input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea,
.input-checkbox {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

input:focus {
    outline: 0;
}

textarea:focus {
    outline: 0;
}

button:focus {
    outline: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

.TC {
    text-align: center;
}

.TL {
    text-align: left;
}

.TR {
    text-align: right;
}

.margin_auto {
    margin: auto;
    float: none;
}

.padding {
    padding: 0;
}

.al {
    width: 100%;
    height: 100%;
    display: table;
}

.alm {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}

body {
    font-family: 'BatonTurbo-Regular';
    background-color: #1658b3;
}

.p_0 {
    padding: 0px;
}

.pl-0 {
    padding-left: 0px;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1400px;
    /* max-width: 95%; */
    margin: 0px auto;
    padding: 0;
}

/* ************************************************************************************* */

::-webkit-scrollbar {
    width: 0px;
}

.c-scrollbar_thumb {
    display: none;
}

.marquee {
    width: 100%;
    grid-column-gap: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    overflow: hidden;
}

.marquee-txt {
    background-color: #f3f3f3;
}

.marquee-content {
    /* width: 100%; */
    grid-column-gap: 10px;
    justify-content: space-around;
    display: flex;
    flex: none;
}

.text-block {
    color: #1658b3;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'BatonTurbo-Bold';
    line-height: 1;
}

/* .marquee {
    width: 100%;
    background-color: var(--coral);
    
    display: flex;
    overflow: hidden;
  }
  
  .marquee-content {
    width: 100%;
    flex: none;
    justify-content: space-around;
    display: flex;
  }
  
  .text-block {
    color: #000;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
  } */

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 16px));
    }
}

.scroll-img {
    animation: scroll 50s linear infinite;
}

.scroll {
    animation: scroll 5s linear infinite;
}

.marquee-image {
    width: 100%;
    margin: 0px -6px;
    -webkit-transform: translateZ(0);
}

.marquee-row
{
    width: 100%;
    overflow-x: hidden;
    background-color: #f3f3f3;
}

.marquee-block 
{
    position: relative;
    display: flex;
    width: 100%;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    justify-content: space-between;
}

.marquee-item-list 
{
    display: inline-flex;
}

.marquee-item-list li 
{
    width: 100%;
    color: #1658b3;
    font-size: 60px;
    font-family: 'BatonTurbo-Bold';
    padding-right: 10px;
    margin: 15px 0px;
    list-style: none;
    white-space: nowrap;
}

.marquee1 
{
    animation: scroll 10s linear infinite;
}

@keyframes marquee1 {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.loader-wrap-heading span {
    overflow: hidden;
    display: block;
}

.loader-wrap {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.loader-wrap svg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 110vh;
}

.loader-wrap .loader-wrap-heading h1 {
    font-size: 120px;
    z-index: 20;
    color: #e0e0e0;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: 'Ogg';
}


@media (max-width: 767px) {
    .loader-wrap svg {
        width: 200vw;
        margin-left: -50vw;
    }

    .loader-wrap .loader-wrap-heading,
    .container h1 {
        font-size: 60px;
    }
}

/* ************************************************************************************* */
.nav {
    position: fixed;
    z-index: 999999;
}

.navbar {
    width: 100%;
    background-color: #1658b3;
    /* border-bottom: 3px solid #000; */
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    border-right: 1px solid rgb(255, 255, 255, 0.5);
    padding-right: 20px;
    margin-right: 20px;
}

.logo h6 {
    color: #fff;
    font-size: 15px;
}

.navbar-contact a {
    color: #1658b3;
    background-color: #fff;
    font-size: 20px;
    font-family: 'Grey-Bold';
    padding: 10px 30px;
    border-radius: 50px;
}

.navbar-menu-btn h3 {
    color: #fff;
    width: 100%;
    font-size: 20px;
    font-family: 'Grey-Bold';
}

.navbar-display {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-display a {
    text-decoration: none;
}

.navbar-sidebar {
    width: 50%;
    position: fixed;
    top: 0;
    right: -100% !important;
    z-index: 99999999999;
    background-color: #1A4487;
    padding: 0;
    height: 100vh;
    transition: linear 0.4s;
    padding: 15px;
    -webkit-animation: bck-clr-animation 2s ease infinite;
    -moz-animation: bck-clr-animation 2s ease infinite;
    animation: bck-clr-animation 2s ease infinite;
    overflow-y: auto;
}

.navbar-sidebar.active {
    right: -0% !important;
    padding: 100px;
}

.navbar-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.navbar-head-sec {
    display: flex;
    gap: 25px;
    padding-right: 20px;
}

.navbar-sidebar-logo img {
    width: 150px;
}

.navbar-close a {
    color: #fff;
    font-size: 20px;
    font-family: 'Grey-Medium';
    letter-spacing: 0.5px;
}

.navbar-menu-list {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 40px;
}


.navbar-menu-list h4 {
    color: #fff;
    font-size: 37px;
    font-family: 'Grey-Bold';
    margin-right: 40px;
    letter-spacing: 0.5px;
}

.navbar-menu-list a {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar-menu-list.active h3 {
    color: transparent;
    font-size: 47px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
    font-family: 'BatonTurbo-Medium';
    letter-spacing: 2px;
    transition: ease 0.3s;
}

.navbar-menu-list a h3:hover {
    color: transparent;
    font-size: 47px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
    font-family: 'BatonTurbo-Medium';
    letter-spacing: 2px;
    transition: ease 0.3s;
}

.navbar-menu-list h3 {
    color: #fff;
    font-size: 47px;
    font-family: 'BatonTurbo-Medium';
    letter-spacing: 2px;
}

.navbar-close i {
    color: #fff;
    text-align: end;
    margin-bottom: 0;
    font-size: 22px;
}

.navbar-close {
    text-align: end;
}

.s-navbar {
    width: 100%;
    background-color: #F0F0F0;
    /* border-bottom: 3px solid #000; */
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.s-logo {
    display: flex;
    align-items: center;
}

.s-logo img {
    width: 150px;
    border-right: 1px solid rgb(22, 88, 179, 0.5);
    padding-right: 20px;
    margin-right: 20px;
}

.s-logo h6 {
    color: #1658b3;
    font-size: 15px;
}

.s-navbar-contact a,
.c-navbar-contact a {
    color: #fff;
    background-color: #1658b3;
    font-size: 20px;
    font-family: 'Grey-Bold';
    padding: 10px 30px;
    border-radius: 50px;
}

.s-navbar-menu-btn h3,
.c-navbar-menu-btn h3 {
    color: #1658b3;
    width: 100%;
    font-size: 20px;
    font-family: 'Grey-Bold';
}

/* ********************************************************************* */

.about-heading-main {
    width: 100%;
    text-align: center;
    padding: 100px 0px;
    padding-top: 180px;
}

.about-head h3 {
    color: #FDFDFD;
    font-size: 30px;
    font-family: 'BatonTurbo-Medium';
    margin-bottom: 30px;
}

.about-float-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.letter-float-delay {
    -webkit-animation: float 1.5s infinite alternate;
    animation: float 1.5s infinite alternate;
    rotate: -10deg;
}

.letter-float {
    -webkit-animation: float 1.3s infinite alternate;
    animation: float 1.3s infinite alternate;
    rotate: -10deg;
}

@-webkit-keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3px);
    }
}

.about-head-txt h2 {
    width: 980px;
    margin: 0 auto;
    color: #FDFDFD;
    font-size: 80px;
    font-family: 'BatonTurbo-Bold';
    letter-spacing: 1px;
    line-height: 80px;

    position: relative;
}

.about-bg-circle img {
    width: 450px;

    position: absolute;
    top: 290px;
    left: 150px;
    z-index: -1;
}

.about-content-main {
    padding: 50px 0px;
    padding-bottom: 200px;
}

.about-content {
    margin: 0 200px;
}

.about-cnt-big-txt h3 {
    width: 100%;
    color: #FDFDFD;
    margin: 0 auto;
    font-size: 35px;
    font-family: 'Grey-Bold';
    letter-spacing: 1px;
    line-height: 45px;
}

.about-cnt-underline marquee {
    padding: 30px 0px;
}

.about-part-section .col-lg-4 {
    padding-left: 20px;
    padding-right: 20px;
}

.about-part-cnt h4 {
    color: #FDFDFD;
    font-size: 23px;
    font-family: 'BatonTurbo-Bold';
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.about-part-cnt p {
    color: #FDFDFD;
    font-size: 14px;
    font-family: 'Grey-Regular';
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.we-offer-main {
    background-color: #f3f3f3;
    padding: 100px 0px;
}

.we-offer {
    margin: 0px 50px;
}

.we-float-txt {
    display: flex;
    justify-content: left;
    align-items: center;
    letter-spacing: 2px;
}

.we-float-txt h3 {
    color: #1658b3;
    font-family: 'BatonTurbo-Medium';
    font-size: 17px;
    margin-bottom: 0px;
}

.we-heading {
    margin-bottom: 100px;
}

.we-head-big h3 {
    color: #1658b3;
    font-family: 'BatonTurbo-Bold';
    font-size: 60px;
}

/* .divider
{
    background-color: #82A2CD;
    height: 1px;
} */

.service-big-link {
    padding: 50px 0px;
    border-top: 2px solid #82a2cd;
    /* border-bottom: 2px solid #82a2cd; */
    margin-top: -2px;
}

.bottom-border {
    border-bottom: 2px solid #82a2cd;
}

.service-post-number h4 {
    color: transparent;
    font-size: 30px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #1658b3;
    font-family: 'Grey-Heavy';
    letter-spacing: 2px;
}

.post-name-img img {
    width: 50px;
}

.service-post-name {
    display: flex;
    align-items: center;
    gap: 30px;
}

.post-name-txt h3 {
    color: #1658b3;
    font-family: 'BatonTurbo-Bold';
    font-size: 48px;
    text-transform: uppercase;
}

.service-big-link:hover .post-name-txt h3 {
    color: #82a2cd;
    font-family: 'BatonTurbo-Bold';
    font-size: 48px;
    transition: all 0.5s ease-in-out;
}

.service-post-name-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-arrow-btn {
    color: #fff;
    width: 35px;
    height: 35px;
    background-color: #1658b3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.service-big-link:hover .service-arrow-btn {
    background-color: #0D3C87;
}

.material-symbols-outlined {
    color: #f3f3f3;
}

.service-big-link-cnt .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-client {
    background-color: #f3f3f3;
    padding: 100px 0px;
}

.section-head {
    padding-bottom: 30px;
}

.section-float-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.section-float-txt h3 {
    color: #1658b3;
    font-size: 16px;
    font-family: 'BatonTurbo-Bold';
    margin-bottom: 10px;
}

.section-head-txt h2 {
    width: 100%;
    color: #1658b3;
    font-family: 'BatonTurbo-Bold';
    font-size: 60px;
    text-align: center;
}

.section-float-delay {
    -webkit-animation: float 1.5s infinite alternate;
    animation: float 1.5s infinite alternate;
    rotate: -10deg;
}

.section-float {
    -webkit-animation: float 1.3s infinite alternate;
    animation: float 1.3s infinite alternate;
    rotate: -10deg;
}

@-webkit-keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3px);
    }
}

.client-content {
    margin: auto 50px;
}

.client-head {
    margin-bottom: 30px;
}

.client-details .col-lg-3 {
    padding: 0;
    margin-left: -1px;
}

.client-details {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: -10px;
}

.client-logo {
    width: auto;
    /* width: 100%; */
    height: 300px;
    border: 1px solid #1658b3;
    background-color: #fff;
    /* padding: 130px 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1px;
    margin-bottom: -1px;
    cursor: pointer;

}

.client-logo-cnt {
    transition: transform 0.4s ease-in-out;
}

.client-logo-cnt img {
    width: 110px;
    /* height: 100%;
    padding: 110px; */
}

.client-logo .client-logo-cnt:hover {
    transform: scale(1.2);
}

.client-details a:hover .client-logo img {
    width: 110px;
    transition: .2s;
    /* transform: scaleX(2px); */
}

.the-agency {
    background-color: #f3f3f3;
    /* padding: 70px 0px; */
    padding: 0 100px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center
}

.the-agency-content h1 {
    color: #1658b3;
    font-size: 120px;
    font-family: 'BatonTurbo-Bold';
}

.the-agency-content img {
    width: 130px;
    -webkit-animation: float 1s infinite alternate;
    animation: float 1s infinite alternate;
}

@-webkit-keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

.people-photo {
    display: flex;
    align-items: center;
}

.people-photo img {
    animation: none;
    width: 80px;
    margin-left: 40px;
    border-radius: 50px;
    margin-top: -40px;
    margin-right: 20px;
}

.people-photo-name {
    width: 300px;
    height: 60px;
    border-left: 2px solid #1658b3;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.people-photo-name h5 {
    color: #1658b3;
    font-size: 20px;
    font-family: 'Grey-Bold';
}

.people-photo-name h5 span {
    color: #1658b3;
    font-size: 20px;
    font-family: 'Grey-Regular';
}

.agency-txt-photo {
    display: flex;
    align-items: center;
}

.with-heart {
    background-color: #1658b3;
    padding: 10px 0px;
}

.with-heart-content h1 {
    color: #fff;
    font-size: 70px;
    font-family: 'BatonTurbo-Medium';
    letter-spacing: 5px;
}

.instagram-section {
    padding: 380px 0px;
    background-color: #f3f3f3;
}

.instagram-section-main {
    background-color: #f3f3f3;
}

.insta-head h3 {
    color: #1658b3;
    font-size: 26px;
    font-family: 'BatonTurbo-Bold';
    margin-bottom: 25px;
}

.insta-float-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.letter-float-delay {
    -webkit-animation: float 1.5s infinite alternate;
    animation: float 1.5s infinite alternate;
    rotate: -10deg;
}

.letter-float {
    -webkit-animation: float 1.3s infinite alternate;
    animation: float 1.3s infinite alternate;
    rotate: -10deg;
}

@-webkit-keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3px);
    }
}

.insta-head-txt h2 {
    width: 100%;
    margin: 0 auto;
    color: #1658b3;
    font-size: 70px;
    font-family: 'BatonTurbo-Bold';
    letter-spacing: 1px;
    line-height: 80px;
    text-align: center;

    position: relative;
}

.insta-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.insta-btn a {
    color: #fff;
    font-size: 20px;
    font-family: 'BatonTurbo-Bold';
    background-color: #1658b3;
    padding: 15px 30px;
    border-radius: 50px;
}

.instagram-section-main {
    position: relative;
}

.insta-img-one img {
    /* width: 300px; */
    width: 18%;
    border: 2px solid #1658b3;

    position: absolute;
    top: -280px;
    left: 50px;
}

.insta-img-two img {
    /* width: 220px; */
    width: 13%;
    border: 2px solid #1658b3;

    position: absolute;
    top: -290px;
    right: 250px;
}

.insta-img-three img {
    /* width: 180px; */
    width: 11%;
    border: 2px solid #1658b3;

    position: absolute;
    bottom: -270px;
    left: 250px;
}

.insta-img-four img {
    /* width: 300px; */
    width: 18%;
    border: 2px solid #1658b3;

    position: absolute;
    bottom: -290px;
    right: 50px;
}

.insta-dive-in img {
    width: 150px;
    /* width: 18%; */

    position: absolute;
    bottom: -90px;
    right: 620px;
}

.insta-circle-image img {
    width: 350px;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;

    position: absolute;
    top: 190px;
    left: -130px;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.insta-camera {
    position: relative;
}

.insta-camera img {
    width: 130px;
    position: absolute;
    bottom: -190px;
    left: -20px;
}

.duck-img-footer img {
    width: 370px;

    position: absolute;
    top: -170px;
    left: 600px;
    z-index: 9999;
}

.footer {
    position: relative;
    background-color: #1A4487;
    padding: 0 50px;
}

.footer-content {
    padding-top: 250px;
    /* margin: 0px 50px; */
    padding-bottom: 100px;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 50px;
}

.footer-menus .row {
    display: flex;
    justify-content: space-between;
}

.footer-main h3 {
    color: #fff;
    font-size: 37px;
    font-family: 'Grey-Bold';
}

.footer-main h4 {
    color: #fff;
    font-size: 35px;
    font-family: 'Grey-Medium';
    margin-bottom: 30px;
}

.footer-contact-btn a {
    color: #1658b3;
    background-color: #f3f3f3;
    font-size: 17px;
    font-family: 'Grey-Bold';
    padding: 10px 30px;
    border-radius: 50px;
}

.footer-links h5,
.footer-address h5 {
    color: #fff;
    font-size: 25px;
    font-family: 'Grey-Bold';
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer-links a,
.footer-address h6 {
    color: #97a2b6;
    font-size: 17px;
    letter-spacing: 0.5px;
    font-family: 'Grey-Medium';
}

.footer-links a:hover {
    color: #fff;
}

.copyright-content {
    /* margin-top: 150px; */
    padding-bottom: 50px;
}

.copyright-graphique {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.copyright-graphique h6,
a,
.graphique-service h6 {
    color: #97a2b6;
    font-size: 16px;
    font-family: 'Grey-Medium';
    margin-bottom: 7px;
}

.copyright-graphique a:hover {
    color: #97a2b6;
    text-decoration: underline;
}

.copyright-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.copyright-img img {
    width: 100%;
    padding-right: 50px;
}

.about-big-image img
{
    width: 100%;
}

/* *************************************************** */

.marketing
{
    padding-top: 150px;
    padding-bottom: 20px;
}

.marketing-txt-mobile
{
    display: none;
    padding: 0px 30px;
}

.marketing-txt-mobile .marketing-line
{
    display: block;
}

.marketing-txt-mobile h1
{
    width: 450px;
    color: #fff;
    font-size: 75px;
    font-family: 'BatonTurbo-Bold';
    text-transform: uppercase;
    line-height: 80px;
    margin-bottom: 20px;
}

.marketing-txt-mobile p
{
    color: #fff;
    width: 440px;
    font-size: 19px;
    text-transform: none;
    font-family: 'Grey-Regular';
    line-height: 25px;
    margin-bottom: 20px;
}

.marketing-txt-mobile img
{
    width: 100%;
}

.marketing-line
{
    display: flex;
    align-content: center;
    justify-content: center;
}

.marketing-txt h1
{
    color: #fff;
    font-size: 150px;
    font-family: 'BatonTurbo-Bold';
    text-transform: uppercase;
    line-height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.marketing-img-2 img
{
    width: 350px;
    height: 120px;
    /* margin-top: -30px; */
    object-fit: cover;
    margin: 0px 20px;
    margin-top: 10px;
}

.marketing-img-1
{
    width: 300px;
    height: 120px;
    /* margin-top: -30px; */
    object-fit: cover;
    margin: 0px 20px;
    margin-top: 10px;
}

.marketing-txt h1 p
{
    color: #fff;
    width: 440px;
    font-size: 19px;
    text-transform: none;
    font-family: 'Grey-Regular';
    line-height: 25px;
}

.marketing-animation-line
{
    padding: 0px 50px;
    margin-bottom: 100px;
}

.marketing-marquee-row
{
    width: 100%;
    overflow-x: hidden;
}

.marketing-marquee-block 
{
    position: relative;
    display: flex;
    width: 100%;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    justify-content: space-between;
}

.marketing-marquee-item-list 
{
    display: inline-flex;
}

.marketing-marquee-item-list li 
{
    width: 100%;
    color: #fff;
    font-size: 30px;
    font-family: 'BatonTurbo-Medium';
    border-top: 1px solid #fff;
    padding: 15px 0px;
    border-bottom: 1px solid #fff;
    padding-right: 10px;
    margin: 15px 0px;
    list-style: none;
    white-space: nowrap;
}

.marketing-marquee1 
{
    animation: scroll 20s linear infinite;
}

@keyframes marketing-marquee1 {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.welcome
{
    padding: 70px;
}

.welcome-mobile
{
    display: none;
}

.welcome-mobile-content
{
    position: relative;
}

.welcome-mobile-img
{
    margin: 0px 15px;
}

.insta-circle-outer-mobile img {
    width: 380px;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.welcome-insta-circle-mobile
{
    position: absolute;
    top: 32%;
    left: 39%;
}

.welcome-insta-cl-mobile
{
    position: relative;
}

.insta-circle-inner-mobile img
{
    width: 150px;
    position: absolute;
    top: 30%;
    left: 30%;
}

.welcome-mobile-img-one img, .welcome-mobile-img-two img
{
    width: 250px;
}
.welcome-mobile-img-two img
{
    margin-top: 80px;
}


.welcome-float-txt {
    display: flex;
    justify-content: left;
    align-items: center;
    letter-spacing: 2px;
}

.welcome-float-txt h3 {
    color: #fff;
    font-family: 'BatonTurbo-Medium';
    font-size: 20px;
    margin-bottom: 20px;
}

.welcome-heading h3
{
    width: 500px;
    color: #fff;
    font-size: 50px;
    font-family: 'BatonTurbo-Bold';
    margin-bottom: 40px;
}

.welcome-paragraph p
{
    width: 540px;
    color: rgb(255, 255, 255, 0.6);
    font-size: 17px;
    font-family: 'Grey-Regular';
    margin-bottom: 15px;
}

.welcome-content .row
{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.welcome-img
{
    display: flex;
    align-content: center;
    justify-content: right;
}

.welcome-img img
{
    width: 400px;
}

.welcome-btn a
{
    color: #fff;
    font-size: 17px;
    font-family: 'Grey-Medium';
}

.welcome-insta-content
{
    padding: 70px 0px;
    padding-bottom: 150px;

    position: relative;
}

.welcome-insta-img-one
{
    display: flex;
    align-content: center;
    justify-content: center;
}

.welcome-insta-img-one img
{
    width: 380px;
}

.welcome-insta-img-two
{
    display: flex;
    align-content: center;
    justify-content: left;
}

.welcome-insta-img-two img
{
    width: 430px;
    padding-left: 30px;
    padding-top: 50px;
}

.insta-circle-outer img {
    width: 380px;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.welcome-insta-circle
{
    position: absolute;
    top: 32%;
    left: 39%;
}

.welcome-insta-cl
{
    position: relative;
}

.insta-circle-inner img
{
    width: 150px;
    position: absolute;
    top: 30%;
    left: 30%;
}

.all-about
{
    padding-bottom: 100px;
}

.all-about-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
}

.all-about-heading
{
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
}

.all-about-head-mobile
{
    display: none;
}

.all-about-content h1
{
    color: #fff;
    font-size: 160px;
    font-family: 'BatonTurbo-Bold';
    margin-bottom: 40px;
    line-height: 130px;
}

.all-about-content .all-about-line
{
    color: transparent;
    font-size: 160px;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: #fff;
    font-family: 'BatonTurbo-Bold';
    letter-spacing: 2px;
}

.all-about-cnt
{
    width: 40%;
    margin-right: 50px;
}

.all-about-cnt h4
{
    color: #fff;
    font-size: 36px;
    font-family: 'BatonTurbo-Bold';
    margin-bottom: 30px;
}

.all-about-cnt p
{
    color: #fff;
    font-size: 18px;
    font-family: 'Grey-Regular';
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}















































/* *************************************** SERVICE *******************************************************/

.background-color {
    background-color: #F0F0F0;
}

.service-heading-main {
    width: 100%;
    text-align: center;
    /* padding: 100px 0px; */
    padding-top: 250px;
    padding-bottom: 150px;
}

.service-head h3 {
    color: #1658b3;
    font-size: 30px;
    font-family: 'BatonTurbo-Bold';
    margin-bottom: 30px;
}

.service-float-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.letter-float-delay {
    -webkit-animation: float 1.5s infinite alternate;
    animation: float 1.5s infinite alternate;
    rotate: -10deg;
}

.letter-float {
    -webkit-animation: float 1.3s infinite alternate;
    animation: float 1.3s infinite alternate;
    rotate: -10deg;
}

@-webkit-keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-4px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-4px);
    }
}

.service-head-txt h2 {
    width: 980px;
    margin: 0 auto;
    color: #1658b3;
    font-size: 80px;
    font-family: 'BatonTurbo-Heavy';
    letter-spacing: 1px;
    line-height: 80px;

    position: relative;
}

/* ******************************************************* */

.service-card-dtl {
    border-top: 1px solid #1658b3;
    padding: 50px 30px;
    /* padding-bottom: 60px; */
}

.service-card-dtl .row {
    display: flex;
    align-items: start;
}

.bottom-border {
    border-bottom: 1px solid #1658b3;
    padding-bottom: 50px;
}

.service-main-content {
    padding-bottom: 100px;
}

.service-card-txt h2 {
    color: transparent;
    font-size: 36px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #1658b3;
    font-family: 'Grey-Bold';
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.service-card-txt h1 {
    max-width: 350px;
    color: #1658b3;
    font-size: 50px;
    font-family: 'BatonTurbo-Bold';
    margin-bottom: 30px;
}

.service-card-txt p {
    max-width: 80%;
    color: #1658b3;
    font-size: 18px;
    font-family: 'Grey-Regular';
    line-height: 30px;
}

.card-mobile-cnt-btn {
    color: #fff;
    width: 35px;
    height: 35px;
    background-color: #1658b3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.card-mobile-cnt-btn {
    display: none;
}

.service-card-cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.service-card-img {
    width: 100%;
    height: auto;
    overflow: hidden;

    position: relative;
}

.service-card-img img {
    width: 100%;
    height: 100%;
    transition: 0.3s all ease-in-out;
}

.service-card-view-btn h4 {
    color: #fff;
    background-color: #1658b3;
    font-size: 20px;
    font-family: 'BatonTurbo-Medium';
    padding: 35px 25px;
    border-radius: 50%;
    transition: transform 0.4s ease-in-out;
    z-index: 999;

    position: absolute;
    bottom: 120px;
    left: -10px;

    display: none;
}

.service-card a:hover .service-card-view-btn h4 {
    display: block;
    transform: scale(1.2);
    z-index: 999;
}

.service-card a:hover .service-card-img img {
    transform: scale(1.1);
}

.grow-business {
    background-color: #f3f3f3;
    /* padding: 70px 0px; */
    padding: 0 100px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center
}

.grow-business-content h1 {
    color: #1658b3;
    font-size: 120px;
    font-family: 'BatonTurbo-Bold';
    margin-bottom: 70px;
}

.grow-second-line {
    margin-left: 150px;
}

.grow-mobile-view {
    display: none;
}

.grow-mobile-cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grow-mobile-cnt h1 {
    text-align: center;
}

.grow-mobile-cnt .case-woman {
    width: 250px;

    position: absolute;
    bottom: 0;
    left: 0px;
    z-index: 100;
}

.grow-mobile-cnt h2 {
    width: 100%;
    display: flex;
    align-items: end;
    margin-top: -70px;

    position: relative;
}

.grow-mobile-cnt h2 a {
    width: 100%;
    color: #fff;
    background-color: #1658b3;
    font-size: 30px;
    font-family: 'Grey-Bold';
    padding: 20px 100px;
    border-radius: 100px;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 20px;
}

.camera {
    width: 130px;
    -webkit-animation: float 1s infinite alternate;
    animation: float 1s infinite alternate;
}

.case-img {
    width: 500px;
    height: 100px;
    object-fit: cover;
    margin-top: -20px;
}

.case-woman {
    width: 450px;
}

.case-last {
    display: flex;
    align-items: end;
    margin-top: -70px;
}

.case-last a {
    color: #fff;
    background-color: #1658b3;
    font-size: 30px;
    font-family: 'Grey-Bold';
    padding: 30px 100px;
    margin-left: 70px;
    border-radius: 100px;
    margin-bottom: 15px;
}

.the-latest-content,
.the-latest-content-mobile {
    background-color: #0E61E0;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.the-latest-content h3,
.the-latest-content-mobile h3 {
    color: #fff;
    font-size: 30px;
    font-family: 'Grey-Bold';
}

.latest-link {
    display: flex;
    align-items: center;
}

.latest-link a,
.the-latest-content-mobile a {
    color: #fff;
    font-size: 20px;
    font-family: 'Grey-Regular';
    margin-right: 20px;
}

.latest-logo,
.latest-logo-mobile {
    width: 100px;
    height: 100px;
    background-color: #0D3C87;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-logo img,
.latest-logo-mobile img {
    width: 70px;
}

.the-latest-content-mobile {
    display: none;
}

.latest-responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* *************************************************service page 1********************************* */

.content-service-content-mobile {
    display: none;
}

.content-txt {
    padding: 40px;
}

.c-logo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.c-logo img {
    width: 180px;
    border-right: 1px solid rgb(22, 88, 179, 0.5);
    padding: 10px 0px;
    padding-right: 20px;
    margin-right: 20px;
}

.c-logo h6 {
    color: #1658b3;
    font-size: 15px;
}

.content-back-btn a {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 60px;
}

.content-btn-icon {
    color: #1658b3;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 1px solid #1658b3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.content-btn-txt h6 {
    color: #1658b3;
    font-size: 17px;
    font-family: 'Grey-Bold';
}

.content-btn-txt h6:hover {
    color: #3266af;
}

.content-head h3 {
    width: 80%;
    color: #1658b3;
    font-size: 80px;
    font-family: 'BatonTurbo-Bold';
    line-height: 80px;
    margin-bottom: 50px;
}

.content-cnt h5 {
    color: #1658b3;
    font-size: 25px;
    font-family: 'Grey-Bold';
    margin-bottom: 10px;
}

.content-cnt p {
    width: 75%;
    color: #1658b3;
    font-size: 16px;
    font-family: 'Grey-Regular';
    margin-bottom: 10px;
}

.content-slider-img img {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}

.content-img {
    position: relative;
}

.content-img .navbar-links-cnt {
    background-color: #fff;
    padding: 20px 18px;
    padding-right: 25px;
    border-radius: 40px;

    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 1000;
}

.btn-wrap-content button {
    border: none;
    background: none;
    color: #fff;
    width: 60px;
    height: 60px;
    background-color: #1658b3;
    border-radius: 50%;
}

.btn-wrap-content i {
    font-size: 17px;
}

.btn-wrap-content .prev-btn {
    position: absolute;
    bottom: 50px;
    right: 140px;
    z-index: 100;
}

.btn-wrap-content .next-btn {
    position: absolute;
    bottom: 50px;
    right: 70px;
    z-index: 100;
}


































































































  








