@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('fonts/Poppins-ExtraBoldItalic.eot');
    src: url('fonts/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.eot');
    src: url('fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Medium.woff2') format('woff2'),
        url('fonts/Poppins-Medium.woff') format('woff'),
        url('fonts/Poppins-Medium.ttf') format('truetype'),
        url('fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('fonts/Poppins-Italic.eot');
    src: url('fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Italic.woff2') format('woff2'),
        url('fonts/Poppins-Italic.woff') format('woff'),
        url('fonts/Poppins-Italic.ttf') format('truetype'),
        url('fonts/Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.eot');
    src: url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('fonts/Poppins-SemiBold.woff') format('woff'),
        url('fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('fonts/Poppins-BlackItalic.eot');
    src: url('fonts/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BlackItalic.woff2') format('woff2'),
        url('fonts/Poppins-BlackItalic.woff') format('woff'),
        url('fonts/Poppins-BlackItalic.ttf') format('truetype'),
        url('fonts/Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('fonts/Poppins-ExtraLight.eot');
    src: url('fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLight.woff') format('woff'),
        url('fonts/Poppins-ExtraLight.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('fonts/Poppins-ExtraLightItalic.eot');
    src: url('fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLightItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('fonts/Poppins-SemiBoldItalic.eot');
    src: url('fonts/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-SemiBoldItalic.woff') format('woff'),
        url('fonts/Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('fonts/Poppins-BoldItalic.eot');
    src: url('fonts/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-BoldItalic.woff') format('woff'),
        url('fonts/Poppins-BoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.eot');
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff'),
        url('fonts/Poppins-Regular.ttf') format('truetype'),
        url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('fonts/Poppins-LightItalic.eot');
    src: url('fonts/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('fonts/Poppins-LightItalic.woff') format('woff'),
        url('fonts/Poppins-LightItalic.ttf') format('truetype'),
        url('fonts/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.eot');
    src: url('fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff'),
        url('fonts/Poppins-Bold.ttf') format('truetype'),
        url('fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('fonts/Poppins-ThinItalic.eot');
    src: url('fonts/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ThinItalic.woff2') format('woff2'),
        url('fonts/Poppins-ThinItalic.woff') format('woff'),
        url('fonts/Poppins-ThinItalic.ttf') format('truetype'),
        url('fonts/Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('fonts/Poppins-Black.eot');
    src: url('fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Black.woff2') format('woff2'),
        url('fonts/Poppins-Black.woff') format('woff'),
        url('fonts/Poppins-Black.ttf') format('truetype'),
        url('fonts/Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.eot');
    src: url('fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Light.woff2') format('woff2'),
        url('fonts/Poppins-Light.woff') format('woff'),
        url('fonts/Poppins-Light.ttf') format('truetype'),
        url('fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('fonts/Poppins-ExtraBold.eot');
    src: url('fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBold.woff') format('woff'),
        url('fonts/Poppins-ExtraBold.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('fonts/Poppins-Thin.eot');
    src: url('fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Thin.woff2') format('woff2'),
        url('fonts/Poppins-Thin.woff') format('woff'),
        url('fonts/Poppins-Thin.ttf') format('truetype'),
        url('fonts/Poppins-Thin.svg#Poppins-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display:swap;
}

/* Custome Fonts */

    /* Turbo-Regular */
@font-face {
    font-family: 'BatonTurbo-Regular';
    src: url(../css/fonts/Baton-Turbo/Baton-Turbo-Regular.otf);
}

@font-face {
    font-family: 'BatonTurbo-Book';
    src: url(../css/fonts/Baton-Turbo/Baton-Turbo-Book.otf);
}

@font-face {
    font-family: 'BatonTurbo-Medium';
    src: url(../css/fonts/Baton-Turbo/Baton-Turbo-Medium.otf);
}

@font-face {
    font-family: 'BatonTurbo-Bold';
    src: url(../css/fonts/Baton-Turbo/Baton-Turbo-Bold.otf);
}

@font-face {
    font-family: 'BatonTurbo-Heavy';
    src: url(../css/fonts/Baton-Turbo/Baton-Turbo-Heavy.otf);
}

    /* Greycliff-CF */
@font-face {
    font-family: 'Grey-Bold';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Bold.ttf);
}

@font-face {
    font-family: 'Grey-ExtraBold';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Extrabold.ttf);
}

@font-face {
    font-family: 'Grey-ExtraLight';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Extralight.ttf);
}

@font-face {
    font-family: 'Grey-Heavy';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Heavy.ttf);
}

@font-face {
    font-family: 'Grey-Light';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Light.ttf);
}

@font-face {
    font-family: 'Grey-Medium';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Medium.ttf);
}

@font-face {
    font-family: 'Grey-Regular';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Regular.ttf);
}

@font-face {
    font-family: 'Grey-SemiBold';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Semibold.ttf);
}

@font-face {
    font-family: 'Grey-Thin';
    src: url(../css/fonts/Greycliff-CF/Greycliffcf-Thin.ttf);
}

/* ******************* */

img{max-width:100%;}
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea,
.input-checkbox {
    outline:0;
}
h1,h2,h3,h4,h5,h6,p{margin:0px;}
input:focus{outline:0;}
textarea:focus{outline:0;}
button:focus{outline:0;}
a{cursor: pointer;text-decoration:none;transition:all 0.5s ease;}
a:focus, a:hover{text-decoration:none;outline:0;}
.TC{text-align:center;}
.TL{text-align:left;}
.TR{text-align:right;}
.margin_auto{margin:auto;float:none;}
.padding{padding:0;}
.al{width:100%;height:100%;display:table;}
.alm{width:100%;height:100%;display:table-cell;vertical-align:middle;}
abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
body{
    font-family: 'BatonTurbo-Regular';
    background-color: #1658b3;
}
.p_0{
    padding: 0px;
}
.pl-0{
    padding-left: 0px;
}
.main{
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
}

/* ************************************************************************************* */

/* a,button{
    cursor: pointer;
}

nav{
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
}

.navigation{
    position: fixed;
    right: -500px;
    width: 350px;
    height: 100%;
    background-color: #000;
    transition: .5s;
}

.navigation ul li{
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.5em;
    padding: 20px 30px;
    border-bottom: 1pt solid #252525;
}

.hamburger, .bar{
    position: fixed;
}

.hamburger{
    display: block;
    top: 5%;
    left: 95%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.bar{
    top: 3px;
    background: #000;
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
}

#bar2{
    top: 11px;
}

#bar3{
    top: 19px;
}

.navigation.active{
    right: 0;
}

.hamburger.open #bar1{
    background-color: #fff;
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2{
    background-color: transparent;
}

.hamburger.open #bar3{
    background-color: #fff;
    transform: rotate(-45deg) translate(6px, -5px);
} */

.navbar
{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #0D1117;
}

.navbar a
{
    color: white;
}

.navbar a:hover
{
    text-decoration: underline;
}

.navbar-second
{
    background-color: skyblue;
}

.navbar-second a
{
    color: #000;
}

.navbar-left
{
    display: flex;
    justify-content: left;
    background-color: #000;
}

/* ********************************************************************* */

.about-heading-main
{
    width: 100%;
    text-align: center;
    padding: 100px 0px;
}

.about-head h3
{
    color: #FDFDFD;
    font-size: 30px;
    font-family: 'BatonTurbo-Medium';
    margin-bottom: 30px;
}

.about-float-txt
{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.letter-float-delay {
    -webkit-animation: float 1.5s infinite  alternate;
    animation: float 1.5s infinite  alternate;
    rotate: -10deg;
}

.letter-float {
    -webkit-animation: float 1.3s infinite  alternate;
    animation: float 1.3s infinite  alternate;
    rotate: -10deg;
}

@-webkit-keyframes float {
    0% { transform: translateY(0); }
    100% { transform: translateY(-3px); }
}

@keyframes float {
    0% { transform: translateY(0); }
    100% { transform: translateY(-3px); }
}

.about-head-txt h2
{
    width: 980px;
    margin: 0 auto;
    color: #FDFDFD;
    font-size: 80px;
    font-family: 'BatonTurbo-Bold';
    letter-spacing: 1px;
    line-height: 80px;

    position: relative;
}

.about-bg-circle img
{
    width: 450px;

    position: absolute;
    top: 290px;
    left: 150px;
    z-index: -1;
}

.about-content-main
{
    padding: 50px 0px;
}

.about-content
{
    margin: 0 50px;
}

.about-cnt-big-txt h3
{
    width: 100%;
    color: #FDFDFD;
    margin: 0 auto;
    font-size: 35px;
    font-family: 'Grey-Bold';
    letter-spacing: 1px;
    line-height: 45px;
}

.about-cnt-underline marquee
{
    padding: 30px 0px;
}

.about-part-section .col-lg-4
{
    padding-left: 20px;
    padding-right: 20px;
}

.about-part-cnt h4
{
    color: #FDFDFD;
    font-size: 23px;
    font-family: 'BatonTurbo-Bold';
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.about-part-cnt p
{
    color: #FDFDFD;
    font-size: 14px;
    font-family: 'Grey-Regular';
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.we-offer-main
{
    background-color: #FDFDFD;
    padding: 200px 0px;
}

.we-offer
{
    margin: 0px 50px;
}

.we-float-txt
{
    display: flex;
    justify-content: left;
    align-items: center;
    letter-spacing: 2px;
}

.we-float-txt h3
{
    color: #1658b3;
    font-family: 'BatonTurbo-Medium';
    font-size: 17px;
    margin-bottom: 0px;
}

.we-heading
{
    margin-bottom: 100px;
}

.we-head-big h3
{
    color: #1658b3;
    font-family: 'BatonTurbo-Bold';
    font-size: 60px;
}

/* .divider
{
    background-color: #82A2CD;
    height: 1px;
} */

.service-big-link
{
    padding: 50px 0px;
    border-top: 2px solid #82a2cd;
    /* border-bottom: 2px solid #82a2cd; */
    margin-top: -2px;
}

.bottom-border
{
    border-bottom: 2px solid #82a2cd;
}

.service-post-number h4
{
    color: transparent;
    font-size: 30px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #1658b3;
    font-family: 'Grey-Heavy';
    letter-spacing: 2px;
}

.post-name-img img
{
    width: 50px;
}

.service-post-name
{
    display: flex;
    align-items: center;
    gap: 30px;
}

.post-name-txt h3
{
    color: #1658b3;
    font-family: 'BatonTurbo-Bold';
    font-size: 48px;
}

.service-big-link:hover .post-name-txt h3
{
    color: #82a2cd;
    font-family: 'BatonTurbo-Bold';
    font-size: 48px;
}

.service-post-name-btn
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-btn
{
    width: 35px;
    height: 35px;
    background-color: #1657b1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.service-big-link:hover .service-btn
{
    background-color: #0D3C87;
}

.material-symbols-outlined
{
    color: #FDFDFD;
}

.service-big-link-cnt .row
{
    display: flex;
    align-items: center;
}

.our-client
{
    background-color: #FDFDFD;
}

.section-head
{
    padding-bottom: 30px;
}

.section-float-txt
{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.section-float-txt h3
{
    color: #1657b1;
    font-size: 16px;
    font-family: 'BatonTurbo-Bold';
    margin-bottom: 10px;
}

.section-head-txt h2
{
    width: 100%;
    color: #1658b3;
    font-family: 'BatonTurbo-Bold';
    font-size: 60px;
    text-align: center;
}

.section-float-delay {
    -webkit-animation: float 1.5s infinite  alternate;
    animation: float 1.5s infinite  alternate;
    rotate: -10deg;
}

.section-float {
    -webkit-animation: float 1.3s infinite  alternate;
    animation: float 1.3s infinite  alternate;
    rotate: -10deg;
}

@-webkit-keyframes float {
    0% { transform: translateY(0); }
    100% { transform: translateY(-3px); }
}

@keyframes float {
    0% { transform: translateY(0); }
    100% { transform: translateY(-3px); }
}

.client-head
{
    margin-bottom: 30px;
}

.client-details .col-lg-3
{
    padding: 0;
    margin-left: -1px;
}

.client-logo
{
    width: 100%;
    height: 300px;
    border: 1px solid #1657b1;
    padding: 130px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-logo img
{
    width: 130px;
}

.client-content
{
    margin: auto 50px;
}

.client-details a:hover .client-logo img
{
    width: 110px;
    transition: .2s;
    /* transform: scaleX(2px); */
}































/* *************************************** SERVICE *******************************************************/

.background-color
{
    background-color: #F0F0F0;
}

.service-heading-main
{
    width: 100%;
    text-align: center;
    padding: 100px 0px;
}

.service-head h3
{
    color: #1658b3;
    font-size: 25px;
    font-family: 'BatonTurbo-Medium';
    margin-bottom: 30px;
}

.service-float-txt
{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.letter-float-delay {
    -webkit-animation: float 1.5s infinite  alternate;
    animation: float 1.5s infinite  alternate;
    rotate: -10deg;
}

.letter-float {
    -webkit-animation: float 1.3s infinite  alternate;
    animation: float 1.3s infinite  alternate;
    rotate: -10deg;
}

@-webkit-keyframes float {
    0% { transform: translateY(0); }
    100% { transform: translateY(-4px); }
}

@keyframes float {
    0% { transform: translateY(0); }
    100% { transform: translateY(-4px); }
}

.service-head-txt h2
{
    width: 980px;
    margin: 0 auto;
    color: #1658b3;
    font-size: 80px;
    font-family: 'BatonTurbo-Heavy';
    letter-spacing: 1px;
    line-height: 80px;

    position: relative;
}

/*****************************************SERVICE_PAGE_1**********************************************/

.service-post-main
{
    overflow: hidden;
    inset: 0px;

    position: absolute;
    top: -290px;
}





























































